/*
 *	see https://www.w3.org/TR/2007/CR-CSS21-20070719/visudet.html
 *	paragraph 10.3.7 and 10.6.4 what the effect of absolute positioning has on width/height
 *
 *	Basically, 'auto' refers to the parent element, not the children
 */

.hidden {
	display: none;
}
.focus {
	outline: 2px dotted #888;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	position: absolute;
	border: none;
	margin: 0;
	padding: 0;
	top: 0;
	height: auto;
	bottom: 0;
	left: 0;
	width: auto;
	right: 0;
	overflow: hidden; /* layout is pixel precise. don't let whitespace between tags FIU */
	background-color: #000;
}

.pane {
	position: absolute;
	border: none;
	margin: 0;
	padding: 0;
	top: 0;
	height: auto;
	bottom: 0;
	left: 0;
	width: auto;
	right: 0;
}

#idZoomer {
	padding: 0;
	margin : auto;
	border: none;
	position: absolute;
	width: 100%;
	height: 100%;
}

#idStatusTitle {
	font-size: small;
	vertical-align: super;
}

#idAutopilot {
	position: absolute;
}

#top {
	position: absolute;
	padding: 4px;
	background: rgba(255,255,255,.5);
	height: 5em;
	top: 1em;
	left: 1em;
	right: 1em;
	bottom: auto;
}

#nav {
	position: absolute;
	padding: 4px;
	overflow: hidden;
	background: rgba(255,255,255,.5);
	width: 32em;
	top: 7em;
	left: auto;
	right: 1em;
	bottom: auto;
}

/*
 * top box
 */

#top h1 {
	margin: 0;
	padding:0;
	text-align: center;
}

#top a {
	text-decoration: none;
	color: #000;
	display: block;
	text-align: center;
}

/*
 * Main view
 */

#idZoomer.focus {
	/*border-color: #888;*/
	outline: 2px dotted #000;
}

/*
 * Seperator
 */

.navSeparator {
	height: 2em;
	white-space: nowrap;
}
.navSeparator hr {
	width: 9em;
}
.navSepLeft {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 11em;
}
.navSepName {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 10em;
	font-size: 1em;

	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}
.navSepRight {
	display: inline-block;
	vertical-align: middle;
	width: 11em;
}
.navLine {
	display: inline-block;
	border: 1px inset gray;
	vertical-align: middle;
	text-align: center;
	width: 9em;
}


/*
 * 4-column layout
 */
.navRow {
	width: 32em;
	margin: 0 5px;
	height: 2em;
	white-space: nowrap;
}

.navLabel {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	line-height: 1em;
	width: 8em;

	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}
.navLeft {
	font-size: 0.6em;
	font-family: Verdana, Geneva, sans-serif;

	display: inline-block;
	vertical-align: middle;
	text-align: right;
	line-height: 1em;
	width: 6.6em; /* 4em/0.6 */

	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}
.navValue {
	display: inline-block;
	vertical-align: middle;
	line-height: 1em;
	width: 13em;
}
.navRight {
	/* same as .navLeft but with fixed spaced */
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	line-height: 1em;
	width: 7em;

	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}

.navCaption {
	font-size: 0.6em;
	font-family: Verdana, Geneva, sans-serif;

	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}

/*
 * Slider
 */
.navSlider {
	height: 2em;
}
.navSlider .rail {
	margin: 0.8em;
	background-color: #eee;
	border: 2px solid #888;
	height: 0.3em;
	width: auto;
	cursor: pointer;
}

.navSlider .rail.focus {
	background-color: #AAA;
}

.navSlider .thumb  {
	margin: 2px;
	position: relative;
	border-radius: 0.8em;
	cursor: pointer;
	background: #0f0;
	height: 0.7em;
	width: 0.7em;
	border: 0.2em solid black;
	margin-left: -0.2em;
	margin-top: -0.4em;
	outline: none !important;
}

/*
 * Listbox
 */

.navListbox .button {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.8em; /* this changes em for this node and children */

	position: relative;
	margin: 0 0.8em;
	padding: 0 0 0 0.4em;
	text-align: left;
	white-space: nowrap;
	background-color: inherit;
	box-sizing: content-box;
	cursor: pointer;
	border: 2px inset ThreeDLightShadow;
	width: 14.25em; /* compensate (13em-margin)*current-font-size (13-0.8-0.8)/0.8 */
	height: 1.4em;
	line-height: 1.4em;
	vertical-align: middle;

	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}

.navListbox ul {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.8em; /* this changes em for this node and children */
	line-height: 1em;

	border: 2px outset ThreeDLightShadow;
	background-color: #fff;
	position: absolute;
	cursor: pointer;
	z-index: 1;

	margin: 0 0.8em;
	padding: 0 0 0 0.4em;
}

/* expand/collapse box */
.navListbox .button::after {
	width: 0;
	height: 0;
	border-left: 0.4em solid transparent;
	border-right: 0.4em solid transparent;
	border-top: 0.4em solid #000;
	content: " ";
	position: absolute;
	right: .4em;
	top: .6em;
}

.navListbox .button[aria-expanded="true"]::after {
	width: 0;
	height: 0;
	border-top: none;
	border-bottom: 5px solid #000;
}

/* dropdown list */
.navListbox li {
	display: block;
	padding: 0 1em;
	position: relative;
	line-height: 1.6em;

	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */

}

.navListbox li:hover {
	background: #f0f0f0;
}
.navListbox li.focused {
	background: #c0c0c0;
}

/*
 * Button
 */

.navButton .button {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.8em; /* this changes em for this node and children */

	display: inline-block;
	position: relative;
	margin: 0 0.2em 0 0.8em;
	text-align: left;
	white-space: nowrap;
	box-sizing: content-box;
	cursor: pointer;
	border: 2px outset ThreeDLightShadow;
	width: auto;
	height: 1.4em;
	line-height: 1.4em;
	vertical-align: middle;
	padding: 0 2.25em 0 0.4em;

	background-color: #f0f0f0;
	color: black;

	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}

.navButton .button:hover,
.navButton .button.hover
{
	background-color: #c0c0c0;
}

.navButton .button.active {
	border-style: inset;
	/*background-color: #c0c0c0;*/
}

.navButton .light-outer {
	position: absolute;
	right: 0;
	width: 1.4em;
	height: 1.4em;
	top: 0;
	border: 2px outset ThreeDLightShadow;
	background-color: #f0f0f0;
	box-sizing: border-box;
}

/* on/off light */
.navButton .light {
	position: absolute;
	width: 1em;
	height: .4em;
	top: 0;
	right: .3em;
	border: 3px inset #f0f0f0;
	background-color: #000;
	bottom: 0;
	margin: auto;
}

.navButton .button[aria-pressed="true"] .light,
.navButton .button[aria-checked="true"] .light
{
	background-color: #0f0;
}

/* home button has no light */
#idHomeButton {
		padding: 0 0.4em;
}


#idProjectPage {
	display: block;
	margin: 0.5em 1em;
	font-size: 0.6em;
}